@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat), sans-serif;
}

:root {
  --bg: #f6f2e9;
  --text: #132130;
  --card: #fffefb;
  --accent: #eb5757;
  --accent-dark: #b93636;
  --line: #d9d2c3;
  --soft: #f1ead9;
}

body {
  background: transparent;
  color: var(--text);
  min-height: 100vh;
}

@keyframes reveal {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatAndGlow {
  0%,
  100% {
    transform: translateY(0);
    filter: drop-shadow(0 0 10px rgba(235, 87, 87, 0.3));
  }
  50% {
    transform: translateY(-8px);
    filter: drop-shadow(0 0 20px rgba(251, 139, 75, 0.7));
  }
}
